$activeBg: #1da1f2; // Twitter Blue
$white: #ffffff; // White remains the same
$backgroundLight: #aab8c2; // Dark Gray
$border: #aab8c2; // Light Gray
$primaryColor: #1da1f2; // Twitter Blue
$activeBorder: #1da1f2; // Twitter Blue
$grayText: #657786; // Dark Gray
$danger: #dc2626; // Danger remains the same
$dangerDark: #dc26268e; // Danger Dark remains the same
$gray: #657786; // Dark Gray
$grayDark: #38444d; // Dark Gray Dark

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Breakpoints
$mobile: 360px;
$tablet: 600px;
$desktop: 1024px;

// media query mixin
@mixin xsMobile {
  @media (max-width: #{$mobile - 1px}) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: $mobile) and (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
